@use "/src/utils/mixins" as mixins;

.body {
  border-radius: 8px;
  background-color: #f3f3f3;

  width: 100%;
  height: 72px;

  margin-bottom: 14px;
}

.content {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;

  padding: 10px;
  height: 100%;
}

.userData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.field {
  font-size: 11px;
  margin: 0;
}

.fieldName {
  color: mixins.$font-color-grey;
}

.fieldContent {
  margin-left: 0.5rem;
}

.showMore {
  display: flex;
  align-items: flex-end;

  color: mixins.$font-color-link;
  font-size: 12px;
  text-decoration: none;

  height: 100%;
}
